@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">super TOTO</h1>
    <button type="button" class="btn btn-danger" onclick="coucou();">Click</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
